<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Faisal_Movers_Booking_System.Properties.Settings.FaisalMoversConnectionString"
            connectionString="Data Source=LAPTOP-G44A7BIV;Initial Catalog=FaisalMovers;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Faisal_Movers_Booking_System.Properties.Settings.FaisalMoversConnectionString1"
            connectionString="Data Source=LAPTOP-2J3A2MB0;Initial Catalog=FaisalMovers;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>